[Unit]
Description=Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/flask_app
ExecStart=/usr/bin/python3 /opt/flask_app/app.py
Restart=always

[Install]
WantedBy=multi-user.target
