[Unit]
Description=Flask Application
After=network.target

[Service]
User={{ app_user }}
Group=www-data
WorkingDirectory={{ app_dir }}
Environment="PATH=/opt/flask_app/venv/bin"
ExecStart={{ app_dir }}/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 app:app


[Install]
WantedBy=multi-user.target
